html {
    background-image: -webkit-linear-gradient(bottom, #F4E2C9 20%, #F4D7C9 100%);
    background-image: -ms-linear-gradient(bottom, #F4E2C9 20%, #F4D7C9 100%);
    background-image: linear-gradient(to bottom, #F4E2C9 20%, #F4D7C9 100%);
}

html, body {
    background-color: transparent;
    font-family: sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0;
    padding: 20px;
    min-height: 100%;
    font-size: 20px;
}

#container {
    width: 80%;
    min-width: 960px;
    margin: auto;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    color: #fff;
    position: relative;
    background-color: #ff7373;
    padding: 4px 10px;
    margin-bottom: 10px;
}
.block-list {
    padding: 20px 0;
    max-width: 360px;
    background-color: #fff;
    border: 1px solid #eee;
}
.block-list > * {
    padding: 10px 40px;
}
.block-list > *:first-child {
    border-top: 1px solid #eee;
}
.block-list > * {
    border-bottom: 1px solid #eee;
}
.block-list > *:hover {
    cursor: move;
}
