.list {
  background-color: #ddd;
  padding: 1rem;
}

.item {
  list-style: none;
  padding: 2rem;
  border: #0005 solid black;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #7cf;
}

.item:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.item:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}
